html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    background-color: transparent;
}
.middle {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    height: 70vh;
    border-radius: 3px;
  }

.edit {
    width: 60%;
}
.tabbody {
  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  height: 100vh;
  width: 100%;

}

h4 {color:white; margin:0;}
h5 {color:white;}


.tabheader {
  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
height: 2.6em;
width: 100%;


}

.App {
	padding: 20px;
}

.logo{
  background-color: #373737;
}
.img {
    background-image: url(./logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    float: none;
    height: 0;
    padding-top: 15.33%;
    border-radius: 2px;
    margin-bottom: 2px;
}

ul li {
    background: #DCD0C0;
    margin: 0.2em;
		padding:0.3em;
    border: 1px solid #373737;
}
ul {
    background: #C0B283;
    padding:0.8em;
    margin-bottom: 0px;
}
*/  TABLE */
.users {
  table-layout: fixed;
  width: 50vw;
  #F4F4F4-space: nowrap;
}
.right{text-align: right;}
.left{text-align: left;}
.center{text-align: center;}
/* Column widths are based on these cells */

.amountsale{width: 100%;}
.price {margin: 0.3em;
padding: 0.4em;}

.row-name {
  width: 30%;
}
.row-price {
  width: 5%;
}
.row-amount {
  width: 10%;
}
.row-img {
  width: 30%;
}
.row-button{
	width: 20%;
}
.row-soldn{
	width: 70%;
}
.users td {
  #F4F4F4-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #373737;
}
.users th {
  background: #373737;
  color: #F4F4F4;
}
.users td,
.users th {
  padding: 5px 10px;
}
.users tr:nth-child(even) {
  background: #C0B283;
  border: 1px solid #373737;
}
td {font-size: 0.8em;}
th {font-size: 0.9em;}
*/ /////////////////////////////////////////////// */
#alist{
    background: green;
    padding: 20px;
}
button{
  background-color: #C0B283;
  color:#373737;
  width: 5em;
  height: 3em;
  padding: 10px;
  line-height:15px;
  border: solid 1px #fff;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
button:hover{box-shadow: inset 1px 1px 2px 0 #c9c9c9;background-color: #DCD0C0; color:#373737;}


#ADMIN_ADD_ITEM_ACTION{color:orange;}
#ADMIN_REMOVE_ITEM_ACTION{color:green;}
#CUSTOMER_ADD_ITEM_TO_CART_ACTION{color:purple;}



.menu{
	#F4F4F4-space: normal;
  margin-right: 0.2em;
	padding: 0.2em;
	float: left;
	width: 8em;
	border: none;
	outline: none;
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
  float: right;
}
.menu:hover{box-shadow: inset 2px 2px 3px 0 #c9c9c9; color:#F4F4F4}

.admin{color:Brown;}
.customer{color:#373737;}
#menu {
  font-size: 1.8em;
  color:#F4F4F4;
  display: inline;
  #F4F4F4-space: normal;
  margin-right: 0.2em;
  padding: 0.2em;
  float: left;
  width: 8em;
  border: none;
  outline: none;
  display: block;
  overflow: hidden;
  text-decoration: none;
  float: left;
}

input[type="text"] {
  padding: 10px;
  background-color:#DCD0C0;
  line-height:15px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
input[type="number"] {
  background-color: #DCD0C0;
  padding: 10px;
  line-height:15px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="number"]:focus,
input[type="number"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
